/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.breadcrumb {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  font-size: x-small;
}

.alert {
  margin-bottom: 0;
}

.help-block {
  margin-bottom: 0;
}

.pagination {
  margin-top: 10px;
}

/* general */
.portlet {
  margin-bottom: 20px;
  padding: 10px 0 10px 15px;
  border-left: solid 5px #ccc;
}
.portlet:first-child {
  margin-top: 20px;
}
.portlet > h3 {
  margin: 0 0 20px;
}
.portlet > ul {
  margin: 0 0 0 20px;
  padding: 0;
}

@media (max-width: 991px) {
  .portlet:first-child {
    display: inline-block;
  }
}

/* flatpages */
.flatpages {
  margin-bottom: 20px;
}

/* contact */
.contact {
  margin-bottom: 20px;
}

.post img {
  max-width: 100%; /* Ширина изображений не более ширины контейнера*/
  height: auto !important; /* Высота автоматически и непереопределяется */
  margin: 10px;
}


/* blog */
.blog > .post {
  margin-bottom: 20px;
}
.blog > .post > .date {
  color: #999;
  margin-bottom: 20px;
}
.blog > .post > .tags {
  margin-top: 20px;
}
.blog > .post > .tags  a {
  color: #008cba;
}

.blog > .post-archive > ul {
  margin-left: 40px;
  padding: 0;
  list-style: none;
}
.blog > .post-archive > ul > li {
  margin-bottom: 5px;
}
.blog > .post-archive > ul > li > .date {
  display: inline-block;
  margin-right: 20px;
}


