{% load static %}

<div class="text-center">
    <div class="row pt-5">
        <div class="col-lg-12 col-4 my-auto">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/profile.png' %}" alt="image" >
        </div>
        <div class="col-lg-12 col-8">
            <div class="my-3">Здравствуй, уважаемый читатель моего персонального блога! Меня зовут Роман. Мне 40 лет и я начинающий разработчик.<br><a href="{% url 'about' %}">Узнать больше</a></div><!--//bio-->
            <ul class="social-list list-inline py-3 mx-auto">
                <li class="list-inline-item"><a href="https://vk.com/ra_andreev" target="_blank"><i class="fab fa-vk fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.cn/in/roman-andreev-3a3296132/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/anra-dev" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://stackoverflow.com/users/16687568/roman-andreev" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/r_a_andreev/" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
            </ul><!--//social-list-->
        </div>

            <hr>
    </div><!--//profile-section-->
</div>