{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <title>Personal blog</title>
</head>
<body>

<!-- Header -->
<header>
    {% include 'includes/_header.html' %}
</header>
<!-- Header -->

<!-- Main content -->
<div class="container-xxl">
    <div class="row">
        <!-- Left sidebar -->
        <div class="col-2">
            {% include 'includes/_sidebar_left.html' %}
        </div>
        <!-- Left sidebar -->

        <!-- Content-->
        <div class="col-10 px-2 my-3">
            {% block content %}
                <!-- Content data-->
            {% endblock content %}
        </div>
        <!-- Content-->
    </div>
</div>
<!-- Main content -->

<!-- Footer -->
<footer>
    {% include 'includes/_footer.html' %}
</footer>
<!-- Footer -->

<!-- Bootstrap JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

<!-- Font Awesome JavaScript-->
<script src="https://kit.fontawesome.com/c2284659a3.js" crossorigin="anonymous"></script>

</body>
</html>