{%  extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="blog col-lg-9 col-12 ">
                {% block blog_content %}

                {% endblock blog_content %}
            </div>

            <div class="col-lg-1 col-12 ps-3 ps-lg-5">
                <!-- Right sidebar -->
                {% include 'posts/includes/_sidebar_right.html' %}
                <!-- Right sidebar -->
            </div>
        </div>
    </div>
{% endblock content %}
